/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*
*:before,
*:after {
  box-sizing: inherit;
}

  /* ---------------Utility Classes----------------- */

  .container{
    margin: auto;
    padding: 40px;
  }

  /* ---------------Responsive Images----------------- */

img{
  max-width:100%;
  height:auto;
}

  
  /* ---------------Global Styles----------------- */
  
  body {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(#ea758c, #FCCCDA);
    background-size:cover;
    background-repeat: no-repeat;
    background-size: 300vw 300vh;
  }

  main{ 
    background-color: #b887b1;
    width:80vw;
    margin-top:40px;
    margin-right:auto;
    margin-bottom:40px;
    margin-left:auto;  
    margin: 40px auto 40px auto; 
    margin: 40px auto;
    border: 2px solid #b887b1; 
    border-radius: 4px;
  }
  
    header.primary { 
    background-color:#EDBFB7; 
    background-image: url(https://wallpapercave.com/wp/wp12215927.png);
    background-size:cover;
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    border-bottom:3px solid solid; 
    }

  header.primary .hgroup {
      width: 70%;
  }
  header.primary .hgroup h1 a{
    color:white; 
    text-decoration: none;
    text-shadow: 1px 1px #b887b1;
    font-size: 2.4rem;
  }
  header.primary .hgroup h2{
    color:white;
    text-shadow:1px 1px #b887b1;
    font-size:1.8em;
  }

  header.primary nav{
    width: 30%;
    margin: 0;
  }

  header.primary nav ul{
    list-style-type: none;
    margin: 5px;
  }

  header.primary nav ul li{
    margin-bottom: 10px;
  }

  header.primary nav a{
    color:#FCCCDA;
    text-decoration: none;
    background-color: #b887b1;
    display:block;
    padding: 5px;
    border-radius: 10px 0;
    border: 5px soild #b887b1; 
    text-align: rigth;
  }

  #content h2, #content h3, .widget h2 {
    color:#FBE2EB ;
    border-left: 7.5px solid #ea758c;
    border-radius: 20px 0;
    padding: 7.5px ;
  }
  section.container p{
    color: #ffffff;
  }

  #blog {
    background-color:#FBE2EB;
    padding:20px 0;
    
  }

  #blog  > h2{
    color:#ea758c;
    font-size: 2.2rem;
    margin-left: 20px;
  }

  article.post{ 
    background-color: #b887b1;
    margin: 20px;
    padding: 20px;
    display:grid;
    grid-template-columns:1fr 3fr; 
    grid-template-areas: 
    "figure header"
    "figure post-content"
    "figure footer";
    grid-gap:20px;
  }
article.post figure{
  grid-area: figure;
}
article.post header{
  grid-area: header;
  color: white;
}

article.post header h2 a {
  color: #FBE2EB;
  text-decoration: none;
}

article.post .post-content{
  grid-area: post-content;
  
}

footer.post-meta a{
  color:#ea758c
}

#colophon{
  text-align: center;
  background-color: #FCB0C7;
  background-image: url(https://wallpapercave.com/wp/wp12215927.png);
  background-size:cover;
  background-repeat: no-repeat;
  padding:20px;
  color:#ea758c;
}

p {
  font-size: 20px;
}

img{
  border: 5px solid white;
}

li {
  color: #ffffff;
}