/*  body */
	
body {
	font-family: "Baskervville SC", serif;
	background-color: #b887b1;
    background-image: url(https://wallpapercave.com/wp/wp12215927.png);
}


#container h2, #container h1, #container h3, #container p, #container li{
    color: white;

}
p {
	margin-bottom: 20px;
	}

.listmargin  {
	margin-bottom: 20px;
}	

img {
	margin-right: 10px;
    margin-bottom: 10px;
	border: 3px solid white;
    float: left;
}	
	
#Resume p a{
    color: #ea758c;
}

#Contact p a{
    color: #ea758c;
}

#container p a{
    color: #ea758c;
}

.tab {
    overflow: hidden;
    border: 2px solid white;
    background-color: #b887b1;
}

.tablinks {
    color: white;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #d0295b;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #d0295b;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}